/* ==========================================================================
	 BLOCK EDITOR GENERATED STYLES
	 ========================================================================== */

// A lot of time went into testing this and making it work with 3rd party blocks and get nesting of blocks to work, any changes here should be really tested and considered before modifying.

$paddingHorizontal: 25px; 
.editor-content {
  z-index: 2;
  position: relative;
  padding: 0 $paddingHorizontal;
}


.editor-content > *  { 
  max-width: $wrapper-width-base;
  margin-left: auto;
  margin-right: auto;
  > div[class*="wp-block"] {
    max-width: $wrapper-width-base;
    margin-left: auto;
    margin-right: auto;
  }
}

.editor-content > .alignwide, .editor-content > .is-style-alignwide {
  width: $wrapper-width-wide;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  > div[class*="wp-block"] {
    max-width: $wrapper-width-base;
    margin-left: auto;
    margin-right: auto;
  }
  > div[class*="wp-block"].alignwide {
    width: $wrapper-width-wide;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.editor-content > .alignfull {
  transform: translateX(calc(0px - #{$paddingHorizontal}));
  width: calc(100% + 2 * #{$paddingHorizontal});
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;

  > div[class*="wp-block"] {
    max-width: $wrapper-width-base;
    margin-left: auto;
    margin-right: auto;
    &.alignwide {
      width: $wrapper-width-wide;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  // used when alignfull content has bg image that is position fixed.
  &.parafull {
    transform: none;
    left: -10px;
  }
}

.editor-content > .gb-container.alignfull, .editor-content > [class^="gb-element-"].alignfull  {
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
 }


.aligncenter {
  text-align: center;
  justify-content: center;
}

.editor-content .alignleft {
  float: left;
  margin-right: 2em;
  max-width: 360px;
}

.editor-content .alignright {
  float: right;
  margin-left: 2em;
  max-width: 360px;
}       

.is-style-secondaryfont {
  font-family: $font-secondary;
}

// ++ table block ++++++++++++++++++++++++++++
.wp-block-table {
  border: none;
  margin-bottom: 30px;
  & th {
    text-align: left;
  }
  & th, & td {
    border: 1px solid $color-gray-400;
    padding: 10px;
    color: $color-gray-700;
    line-height: 1.2;
    padding: 15px;
  }
  & tr:first-of-type {
    & td {
        padding: 30px 10px;
    }  
  }
  tr:nth-child(2n) {
    background: #fff;
}
  tr:nth-child(2n+1) {
    background: #eaeaea;
}
thead {
  border-bottom: none;
}
thead tr {
  background: #fff !important;
}
&.table-first-col-20 {
  thead tr th:first-of-type {
    width: 20%;
  }
}
}



// ++ ul list block (with custom class added) +++++++++++++++++++++++++++++++++
.editor-content ul:not(.inputs-list) {
  list-style-type: none;
  margin: 20px 0 20px 20px;
  padding: 0;
  overflow: hidden;
  
}
.editor-content ul:not(.inputs-list) li {
  margin: 0;
  padding: 0 0 7px 1rem;
  position: relative;
  font-size: clamped(16px, 18px);
  font-weight: 300;
}
.editor-content ul:not(.inputs-list) li::before {
  display: block;
  background-color: $color-purple-dark;
  content: "";
	position: absolute;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  top: 14px;
  left: 0;
}

// Checklist style with SVG checkmark in a purple circle
.editor-content ul.is-style-checklist {
  list-style-type: none;
  margin: 20px 0 20px 0;
  padding: 0;
  overflow: hidden;
  
  li {
    margin: 0;
    padding: 0 0 10px 40px;
    position: relative;
    font-size: clamped(16px, 18px);
    font-weight: 300;
    
    &::before {
      display: flex;
      align-items: center;
      justify-content: center;
      content: "";
      position: absolute;
      background-color: $color-purple-new;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      top: 4px;
      left: 0;
    }
    
    &::after {
      content: "";
      position: absolute;
      width: 28px;
      height: 28px;
      top: 8px;
      left: 4px;
      background-color: white;
      mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28"><path fill="currentColor" d="m10 15.17l9.192-9.191l1.414 1.414L10 17.999l-6.364-6.364l1.414-1.414z"/></svg>');
      mask-size: contain;
      mask-position: center;
      mask-repeat: no-repeat;
      -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28"><path fill="currentColor" d="m10 15.17l9.192-9.191l1.414 1.414L10 17.999l-6.364-6.364l1.414-1.414z"/></svg>');
      -webkit-mask-size: contain;
      -webkit-mask-position: center;
      -webkit-mask-repeat: no-repeat;
    }
  }
}

.single-post {
  .editor-content ul:not(.inputs-list) li::before {
    background-color: #fff;
  }
}

.editor-content  .stk-block-icon-list  ul {
 overflow: visible; 

  li {
    &::before {
      display: none;
    }
  }
}


// ++ ol list block (with custom class added) +++++++++++++++++++++++++++++++++
.editor-content ol {
  counter-reset: item;
  margin: 1rem 0 1rem 30px;
  padding: 0;
  overflow: hidden;
}
.editor-content ol > li {
  padding: 0 0 0.5rem 1.4rem;
  position: relative;
  text-indent: -1.4rem;
  font-size: clamped(16px, 18px);
  font-weight: 300;
}
.editor-content ol > li::before {
  content: counter(item);
  counter-increment: item;
  color: #ccc;
  font-weight: 400;
  position: relative;
	top: 0;
	width: 1.3rem;
	margin: 0 0.8rem 0 0;
}



//buttons
.wp-block-buttons .wp-block-button:last-of-type {
  margin-right: 0;
}

// WP Columns
// lets match columns to our break points.
body .wp-block-column {
  @media(width <=$bp-medium) {
    flex-basis: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
// wp-5.7 fix
body .wp-block-column:not(:only-child) {
  @media(width <=$bp-medium) {
    flex-basis: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

 // prevent wide columns not having a gutter
 .editor-content .wp-block-column:not(:first-child) {
  @media(width >= $bp-medium) {
    margin-left: 2em;
  } 
}

// we need a no gutter style
.is-style-no-gutter {
  .wp-block-column {
    margin-left: 0;
    margin-right: 0;
  }
}


body .u-break-early {
	@media(width <=$bp-large) {
	flex-direction: column;
   .wp-block-column {
	  flex-basis: 100% !important;
	  max-width: 100%;
	  margin: 0 0 25px 0 !important;
	}
   }
  }


  .has-large-font-size {
    line-height: 1.25;
    font-size: 1.4rem;
  }

  .has-small-font-size {
  line-height: 1.8;
  }

  .wp-block-image {
    margin-bottom: 10px;
    margin-top: 10px;
  }



  .c-more-link {
    text-transform: uppercase;
    svg {
      width: 20px;
      height: 21px;
      top:4px;
      position: relative;
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      svg {
        transform: translateX(5px);
      }
    }
  }

  .wp-block-image.aligncenter {
    margin-left: auto;
    margin-right: auto;
  }

