.single-career_type {
    .o-dark-wave-grad {
        padding-top: 60px;
        padding-bottom: 60px;
        @media(width >= $bp-medium) {
        padding-top: 100px;
        padding-bottom: 100px;
        } 
    }
    .c-article-header-content {
        h2 {
            font-size: clamped(34px, 48px);
            span {
                color: $color-green;
            }
        }
    }
}