.single-news_type {
    .c-article-header-content {
        padding-top: 70px;
        @media(width >= $bp-medium) {
            padding-top: 110px;
        
        } 
        h2 {
            margin-bottom: 0;
        }
        .c-news-meta {
            color: $color-green;
        }
        margin-bottom: 45px;
    }
}

.c-post-grid.c-post-grid--news {
    padding-top: 60px;
    padding-bottom: 60px;
    @media(width >= $bp-medium) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .c-card__content-excerpt {
        display: block;
        height: auto;
        margin-bottom: 30px;
    }
    .c-post-card {
        align-items: flex-start;
background-color: $color-blue-light;
&:hover {
background-color: $color-blue-light;
box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);

    }
    &::after {
        display: none;
    }
    > div {
        background: none;
    }
}
.c-card__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 35px;
    background-color: transparent !important;
}
}

.c-news-archived {

    p {
        margin-bottom: 0;
    }
    a {
    }
}