/* ==========================================================================
   VARIABLES
   ========================================================================== */

// ++ BREAKPOINTS +++++++++++++++++++++++++++++++++
$bp-small: 500px; 
$bp-medium: 768px;
$bp-large: 980px;
$bp-xlarge: 1400px;


// Match these to your theme.json layout settings.
// Also check the setting of any block plugins you use to match these.
$wrapper-width-wide: 1400px; // Gutenberg Wide wrapper
$wrapper-width-base: 1400px;  // Gutenberg Standard wrapper
// Match these to your theme.json layout settings.


$wrapper-width-narrow: 957px;

$page-header-height: 100px;


// ++ COLOURS +++++++++++++++++++++++++++++++++
$color-red-400:         #A82313;
$color-purple-one: #7B5CA1;
$color-purple-dark: #371b5e;
$color-purple-mid: #573087;
$color-purple-new: #573087;
$color-green:       #94D33F;

$color-blue:       #09aeef;
$color-blue-light: #E5F0F4;
$color-blue-dark:  #0f3460;
$color-green-new: #00890B;
$color-orange: #F36B39;
$color-plixer-dark: #272727;

$color-purple-darker: #1a0d2d;

$color-gray-100:        #EAEAEA;
$color-gray-400:        #ACACAC;
$color-gray-700:        #323232;

$color-plixer-gray:      #EFEFEF;

$color-black:           #000;
$color-white:           #FFF;

// assign colours to variables
$alert-color:       $color-red-400;
$text-color:        $color-black;
$link-color:        $color-plixer-dark;
$link-hover:        darken($color-plixer-dark, 15%);
$border-color:      $color-gray-400;


// ++ MISC VARS ++++++++++++++++++++++++++++++++++
// Logo
$logo-size-small: 250px;
$logo-size: 300px;



// ++ TYPOGRAPHY +++++++++++++++++++++++++++++++++
// Fonts
$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Raleway', sans-serif;
// Spacing
$line-height-normal: 2;
$line-height-tight: 1.10;
$line-height-loose: 2;
$letter-spacing: 0.125em; //2px

// Glyphs
$double-arrow: "\u21d2";
$link-glyph: $double-arrow;


// ++ TRANSITIONS +++++++++++++++++++++++++++++++++
$transition-ease: all 250ms ease;
$transition-ease-slow: all 400ms ease;