/* ==========================================================================
   OVERRIDES - hacks and styles of last resort live here
   ========================================================================== */

// ideally this file is forever blank. likely it won't be. :(

// Elementor Styles

.elementor-page:not(.single-resources) .editor-content {
padding-left: 0;
padding-right: 0;
}
.elementor-page .editor-content > div.elementor {
   max-width: 100% !important; 
}

body.elementor-page > div.elementor {
   margin-top: 0 !important;
}

.elementor-top-section {
   margin-top: 0 !important;
   padding-top: 0 !important;
}

.gb-accordion__toggle[tabindex]:focus {
   outline: none !important;
}

.cta_button.btn,.hs-cta-wrapper a,.c-green-submit input[type="submit"] {
   display: inline-block;
   border-radius: 10px !important;
   letter-spacing: 2.1px;
   text-transform: uppercase;
   margin-top: 20px;
   cursor: pointer;
   padding: 20px 30px;
   font-family: $font-secondary;
   text-shadow: 0px 2px 3px #0000004D;
   background: transparent linear-gradient(87deg, #78A030 0%, #78A030 100%) 0% 0% no-repeat padding-box;
   transition: background 0.3s ease-in-out; // Add transition for smooth effect

   &:hover {
      background: transparent linear-gradient(87deg, #5C7A22 0%, #5C7A22 100%) 0% 0% no-repeat padding-box; // Slightly darker green on hover
   }
}

#cta_button_159093_60542602-76b0-48f3-8b07-98eccc31de88 {
   display: inline-block;
   padding: 10px 23px;
   letter-spacing: 1.8px;
   margin-top: 0;
}

.hs-cta-wrapper + .hs-cta-wrapper {
   @media(width >= $bp-medium) {
      margin-left: 30px;
   } 
}

// .u-dark .c-container-white, .c-container-white {
// color: #000;
// p, h2,h3,h4,h5,h6 {
// color: #000;
// }
// }

.page-template-pg-interior-php {
   footer {
      margin-top: 60px;
      @media(width >= $bp-medium) {
         margin-top: 100px;
      
      } 
   }
}

.u-purple-hs {
   .cta_button.btn, a {
      background: transparent linear-gradient(96deg, #593189 0%, #3D1E69 100%) 0% 0% no-repeat padding-box !important; // Reverse gradient on hover
      padding: 20px 37px !important;
      font-weight: 700;
      &:hover {
          background: transparent linear-gradient(96deg, #593189 100%, #3D1E69 0%) 0% 0% no-repeat padding-box !important; // Reverse gradient on hover
      }
   }
}

.editor-content #strattic-post-type-filters {
   margin-bottom: 60px;
   background: rgba(0,0,0,.04);
  padding: 5px 40px;
  border-radius: 10px;

    ul {
      margin: 0 !important;
      display: flex;
      flex-direction: column;
      @media(width >= 680px) {
      flex-direction: row;
      } 
      li {
         padding-left: 0;
         margin-right: 25px;
         &::before {
            display: none;
         }
         input {
            margin-right: 8px;
         }
      }
    }
    button {
      margin-top: 20px;
      padding: 10px 23px;
      letter-spacing: 1.8px;
      margin-top: 0;
      border-radius: 10px !important;
      color: #fff;
      background: transparent linear-gradient(87deg, #78A030 0%, #78A030 100%) 0% 0% no-repeat padding-box;
      transition: background 0.3s ease-in-out; // Add transition for smooth effect
      &:hover {
         background: transparent linear-gradient(87deg, #5C7A22 0%, #5C7A22 100%) 0% 0% no-repeat padding-box; // Slightly darker green on hover
      }
    }
}

.strattic-search-result, .search-results article {
   width: 960px;
   margin: auto;
   max-width: 100%;
   border-bottom: 1px dotted $color-purple-one;
   margin-bottom: 30px;
   h2 {
      font-size: clamped(20px, 23px);
      margin-bottom: 10px;
   }
}

.search-results {
   .c-post-nav ul {
      justify-content: center;
      margin-bottom: 30px;
      gap: 30px;
   }
}

// accessibility
$focus-color: $color-green; 

// Create a placeholder for focus styles
%focus-outline {
  outline: 2px solid $focus-color !important;
  outline-offset: -2px;
}

a:focus,
button:focus,
input:focus,
textarea:focus,
select:focus,
[tabindex]:focus {  // includes any custom tabindex elements
  @extend %focus-outline;
}

// High contrast mode support
@media (forced-colors: active) {
  a:focus,
  button:focus,
  input:focus,
  textarea:focus,
  select:focus,
  [tabindex]:focus {
    outline: 2px solid SelectedItem !important;
  }
}

.skip-link {
   position: absolute;
   top: -100px;
   left: 50%;
   transform: translateX(-50%);
   padding: 12px 24px;
   background: #000; // Modern blue color
   color: #ffffff;
   font-family: system-ui, -apple-system, sans-serif;
   font-weight: 500;
   text-decoration: none;
   border-radius: 0 0 8px 8px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   transition: top 0.3s ease;
   z-index: 10000;
   
   &:focus {
       top: 0;
       outline: 2px solid #ffffff;
       outline-offset: -4px;
       color: #fff !important;
   }
   
   
}

.resource-type-case-study h2 {
   color: $color-green;
}


// From Customizer
.u-lh {line-height:1.5;}
.u-pur-tran-grad::after {
	content:"";
	position:absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: linear-gradient(180deg,rgba(255,255,255,0) 400px,rgba(55, 27, 94, 0.9) 400px)
}

@media screen and (max-width: 768px) {
	.u-pur-tran-grad::after {
		background-image: linear-gradient(180deg,rgba(255,255,255,0) 50px,rgba(55, 27, 94, 0.9) 50px)
}
	}


.page-id-39730 .c-lower-cta {
	display: none;
}
.c-home-slide .maw-slider__dots {
	justify-content: flex-start;
	z-index: 10;
	position:relative;
}

.c-home-slide .wp-block-list li {
	padding-bottom: 0 !important;
	padding-top: 0 !important;
	line-height: 1.6;
}

.maw-slider__dot {
	background: #573087;
}
.cb-pagination-bullet {
	background: #00890b !important;
}

.c-modal-nav {
       display: none !important;
   }

.page-id-45533 .skip-links {
	display:none;
}

.popup-trigger {
	cursor:pointer;
transition: ease all 155ms;
}

.popup-trigger:hover {
		transform:scale(1.02);
}

.c-overflow-cut {
	overflow-x: clip;
}

.c-plixer-one-intro mark{
	font-size:5rem;
}

@media screen and (max-width: 768px) {
      .c-plixer-one-intro mark {
        font-size: 3rem !important;
      }
    }
    @media screen and (max-width: 480px) {
  .c-plixer-one-intro mark {
        font-size: 2rem !important;
      }
    }

.plixer-circle .circle-icon-title {
	position:absolute;
	top: -30px;
	width: 200px;
	text-align:center;
	font-size:15px;
	font-weight:700
}

.plixer-circle .tpgb-circle-item-3 .circle-icon-title {
	top: 100%

}

.plixer-circle .tpgb-circle-item-4 .circle-icon-title {
top: 100%;
}

.c-fancy-corner-border figure {
	position: relative;
}

.c-fancy-corner-border figure::before {
	content: "";
	background: radial-gradient( farthest-corner at 0px 100%, #9ED33F 0%, #9ED33F00 80%);
  border-radius: 10px;
	width: 50%;
	height: 50%;
	position: absolute;
	left: -14px;
	bottom: -14px;
	z-index: 1;
}

.c-fancy-corner-border--right figure::before {
  background: radial-gradient( farthest-corner at 100% 100%, #9ED33F00 70%, #9ED33F 100%);
	right: -14px;
	left: auto;
	width: 70%;
	height: 90%;
	transform: rotate(-180deg);
}

.c-fancy-corner-border img {
	position: relative;
	z-index: 10;
}


.team-card {
	cursor:pointer;
}
.c-team-trigger {
	position:absolute !important;
	right:20px;
	bottom: 20px
}

.has-large-font-size {
	line-height:1.4
}

.tpgb-tab-content ul {
	margin: 0 !important;
}

.c-grad-adjusted:after {
	opacity: 0.5;
}


/* HOMEPAGE CSS DELETE AFTER CSS PUSH */
.c-hp-ctas {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    align-items: stretch;
    margin-bottom: 50px;
	padding: 0 !important;
	height: 100%;
}

.c-hp-cta-icon {
    width: 60px;
    margin: 0 auto 20px;
}

.c-hp-cta {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(45deg, #000000, #3D1E69, #7A5CA1, #593189), url('https://www.plixer.com/wp-content/themes/plixer24/img/bg_lights.png');
    background-size: 400% 400%, 300% 300%, cover;
    background-position: center, center, center;
    background-blend-mode: color;
    animation: gradientAnimation1 5s ease infinite, gradientAnimation2 7s ease-in-out infinite;
    color: #fff;
    padding: 0 50px;
    overflow: visible;
    position: relative;
	margin-bottom: 0 !important;
}



.c-hp-cta-inner .c-btn-newgreen {

  white-space: nowrap;
}

.c-hp-cta p {
    color: #fff;
    margin-bottom: 5px;
}

.c-hp-cta p:last-of-type {
    margin-bottom: 40px;
}

.c-hp-cta h2 {
    color: #94D33F;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 5px;
}

.c-hp-cta .c-btn-newgreen a {
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.c-hp-cta .c-btn-newgreen:hover a {
    transform: translateY(-2px) scale(1.02);
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease;
}

@keyframes gradientAnimation1 {
    0% { background-position: 0% 0%; }
    25% { background-position: 100% 0%; }
    50% { background-position: 100% 100%; }
    75% { background-position: 0% 100%; }
    100% { background-position: 0% 0%; }
}

@keyframes gradientAnimation2 {
    0% { background-position: 100% 100%; }
    50% { background-position: 0% 0%; }
    100% { background-position: 100% 100%; }
}



.c-box-corner {
    transition: all 0.3s ease;
}

.c-box-corner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 13px;
    height: 2px;
}

.c-box-corner::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 2px;
    height: 11px;
}

.c-box-corner-tl {
    position: absolute;
    top: 13px;
    left: 13px;
    transform: rotate(90deg);
}

.c-box-corner-tr {
    position: absolute;
    top: 13px;
    right: 13px;
    transform: rotate(-180deg);
}

.c-box-corner-bl {
    position: absolute;
    bottom: 13px;
    left: 13px;
}

.c-box-corner-br {
    position: absolute;
    bottom: 8px;
    right: 13px;
    transform: rotate(-90deg);
}

.c-hp-cta .c-box-corner {
    opacity: 0;
    transition: all 0.3s ease;
}

.c-hp-cta:hover .c-box-corner {
    opacity: 1;
}

.c-home-banner::after {
    content: "";
    position: absolute;
    bottom: -230px;
    left: 0;
    width: 100%;
    height: 387px;
    background-image: url('https://www.plixer.com/wp-content/themes/plixer24/img/wave2.png');
    background-position: center;
    background-size: 1200px 387px;
    background-repeat: no-repeat;
}
.c-hp-cta-inner {
position: relative;
  padding-top: 50px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* Checklist style with SVG checkmark in a purple circle */
.editor-content ul.is-style-checklist {
  list-style-type: none;
  margin: 20px 0 20px 0;
  padding: 0;
  overflow: hidden;
}
.editor-content ul.is-style-checklist li {
  margin: 0;
  padding: 0 0 10px 40px;
  position: relative;
  font-size: clamp(16px, 18px, 18px);
  font-weight: 300;
}
.editor-content ul.is-style-checklist li::before {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "";
  position: absolute;
  background-color: #573087; /* Replace with your purple color */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  top: 4px;
  left: 0;
}
.editor-content ul.is-style-checklist li::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  top: 8px;
  left: 4px;
	background-color: white;}
/* HOMEPAGE CSS DELETE AFTER CSS PUSH */

.page-id-64155 .form-field  input {
	color: #000 !important;
}