/* ==========================================================================
   FORM STYLES
   ========================================================================== */

// ++ placeholder styles +++++++++++++++++++++++++++++++++
input::placeholder, textarea::placeholder { 
  color: $color-black;
  opacity: 0.8; 
}
// hubspot
.legal-consent-container {
  font-size: 14px;
  line-height: 1.3;
  padding: 20px 0;
  opacity: 0.9;
}

.hs-error-msgs {
  font-size: 14px;
  margin-bottom: 20px;
  label{
    color: $color-green !important;

  }
}

.hs-form-field .inputs-list {
li {
  input {
    margin-right: 10px;
  }
}
}

.hs-button, .hs-cta-wrapper a {
  cursor: pointer;
  padding: 22px 40px;
  border-radius: 10px;
  text-transform: uppercase;
  border: 0 !important;
  transition: $transition-ease;
 background: transparent linear-gradient(87deg, #78A030 0%, #78A030 100%) 0% 0% no-repeat padding-box !important;
  text-shadow: 0px 2px 3px #0000004D;
  color: #fff !important;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }

}

// dark pages
// .o-dark-grad, .o-dark-wave-grad , .o-poly-header, .u-dark {
//   form {
//     color: #fff;
//   }
// label {
//   color: #fff;
//   line-height: 1;
// }
// input, select, textarea {
//   margin-bottom: 10px;
//   border: 1px solid $color-purple-mid;
//   padding: 10px;
//   background: transparent;
//   color: #fff;
//   margin-left: 0;
//   margin-right: 10px;
//   &:active, &:focus-visible {
//     border: 1px solid $color-blue;
//     border-left: 0;
//     border-right: 0;
//     border-top: 0;
//     outline: none;
//   }
//   &::placeholder {
//     color: #fff;
//   }
// }
// select option {
//   background-color: #000;
// }
// }

.c-case-form {
  width: 800px;
  margin: 0 auto;
  max-width: 100%;
  label {
    display: block;
    margin-bottom: 10px;
  }
  input, select, textarea {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  br {
    display: none;
  }
}

.hs_submit {
  margin-top: 20px !important;
}