/* ==========================================================================
   HEADINGS
   ========================================================================== */

h1, .h1-style, h2, .h2-style, h3, .h3-style, h4, .h4-style, h5, .h5-style, h6, .h6-style {
  color: $color-blue; 
  font-family: $font-secondary;
  font-weight: 400;
  line-height: 1.4;
  margin: 0 0 1rem 0;
}
h1 a, .h1-style a, h2 a, .h2-style a, h3 a, .h3-style a, h4 a, .h4-style a, h5 a, .h5-style a, h6 a, .h6-style a {
  text-decoration: none;
 
}

h1, .h1-style {
  font-size: clamped(35px, 45px);
  font-weight: 300;
  line-height: 1.2;
}
.single-post h1,.single-post .h1-style, .single-news_type .h1-style, .c-lower-cta .h1-style {
  font-size: clamped(33px, 45px);

}

h2, .h2-style {
  font-size: clamped(28px, 36px);
  font-weight: 600;
}
h3, .h3-style {
  font-size: clamped(25px, 30px);
  font-weight: 600;

}
h4, .h4-style {
  font-size: clamped(22px, 24px);
}



h5, .h5-style {
  font-size: 1.5rem;
}
h6, .h6-style {
  font-size: 1.2rem;
}












// Style classes with higher specificity
.editor-content .h1-style,
.h1-style,
.is-style-h1-style {
  font-size: clamped(35px, 96px);
}

.editor-content .h2-style,
.h2-style,
.is-style-h2-style {
  font-size: clamped(28px, 36px);
}

.editor-content .h3-style,
.h3-style,
.is-style-h3-style {
  font-size: clamped(25px, 30px);
}

.editor-content .h4-style,
.h4-style,
.is-style-h4-style {
  font-size: clamped(22px, 24px);
}

.editor-content .h5-style,
.h5-style,
.is-style-h5-style {
  font-size:1.5rem;
}

.editor-content .h6-style,
.h6-style,
.is-style-h6-style {
  font-size: 1.2rem;
}

.is-eyebrow, h1.is-eyebrow, .h1-style.is-eyebrow, h2.is-eyebrow, .h2-style.is-eyebrow, h3.is-eyebrow, .h3-style.is-eyebrow, h4.is-eyebrow, .h4-style.is-eyebrow, h5.is-eyebrow, .h5-style.is-eyebrow, h6.is-eyebrow, .h6-style.is-eyebrow, .is-style-eyebrow {
  text-transform: uppercase;
  font-size: 19px !important;
  letter-spacing: 1.19px;
  font-weight: 800;
  margin-bottom: 10px;
}

.is-style-wideheading {
  letter-spacing: 9px;
  word-spacing: 9px;
  font-weight: 700;
  text-transform: uppercase;
}