/* ==========================================================================
   HORIZONTAL RULE
   ========================================================================== */

   hr, hr.wp-block-separator {
    display: block;  // border: none;
    margin: 1rem auto;
    padding: 0;
    clear: both;
    width: 100%;
    border-top: 0;
    border-color: #333;
    margin: 50px auto;
  }

    /* Default separator styles */
    hr, hr.wp-block-separator {
     width: 193px;
  height: 20px;
      background: url('../img/sqew_square.svg');
      margin: 15px auto;
      &.is-style-wide {
          width: 100%;
          background: none;
          border-bottom: 1px dotted $color-purple-one;
          margin: 40px auto;
      }
    }