/* ==========================================================================
   P TAGS
   ========================================================================== */

p {
  line-height: $line-height-normal;
  margin: 0 0 1.7rem 0;
  padding: 0;
  font-size: 18px;
  font-weight: 300;
}

